name: label checkbox

on:
  issue_comment:
    # there is no PR comment trigger, PRs are considered issues in the backend, just have to filter
    types: [edited]
    
permissions:
    pull-requests: write   
    
jobs:
  check-and-label:
    runs-on: ubuntu-latest
    steps:
      - name: Check if comment contains release type
        id: check_comment
        uses: actions/github-script@v7
        with:
          script: |
            if (!context.payload.issue.pull_request) {
              console.log("Not PR comment, skipping.")
              return;
            }

            let labelToAdd = null;
            if (context.payload.comment.body.includes("- [x] major")) {
              labelToAdd = "major";
            } else if (context.payload.comment.body.includes("- [x] minor")) {
              labelToAdd = "minor";
            } else if (context.payload.comment.body.includes("- [x] patch")) {
              labelToAdd = "patch";
            }

            if (!labelToAdd) {
              console.log("No checkbox is checked, skipping.");
              return;
            }

            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.issue.number,
              labels: [labelToAdd],
            });

            console.log(`Added label: ${labelToAdd}`);
