name: helloworld

on: 
    release:
      types: [published]


jobs:
  fetch-environments:
    runs-on: ubuntu-latest
    outputs: 
      enviros: ${{ steps.get-envs.outputs.envs }}
    steps:
      - id: get-envs
        run: |            
          # environments=()
          # pageNum=1
          # total=1
          
          # while [ ${#environments[@]} -lt $total ]; do
          #     res=$(curl -s -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -H "Authorization: Bearer ${{github.token}}" "https://api.github.com/repos/${{github.repository}}/environments?per_page=100&page=$pageNum")
              
          #     envs=($(echo "$res" | jq -r '.environments[].name'))
          #     total=$(echo "$res" | jq -r '.total_count')
              
          #     if [ ${#envs[@]} -eq 0 ]; then
          #         echo "An error has occurred while attempting to fetch the environments"
          #         exit 1
          #     fi
              
          #     environments+=("${envs[@]}")
          #     ((pageNum++))
          # done
          
          # envlist=$(printf '%s\n' "${environments[@]}" | jq -R . | jq -sc .) >> "$GITHUB_OUTPUT"

          envlist=("production", "develop")
          echo envs=$envlist
          # eg ["production","develop"]

          echo envs=$envlist >> $GITHUB_OUTPUT

  fetch-release-details:
    runs-on: ubuntu-latest
    outputs:
      TAG_NAME: ${{steps.get-tag.outputs.tag}}
    steps:
      
      # - name: Checkout Repository
      #   uses: actions/checkout@v3

      - id: get-tag
        run: echo "tag=${{github.event.release.tag_name}}" >> "$GITHUB_OUTPUT"          

      - name: Use Release Details
        run: |
          echo "Using Release Tag: ${{github.event.release.tag_name}}"
          echo "Using Release ID: ${{github.event.release.id}}"
  
  fetch-branch-name2:
    runs-on: ubuntu-latest
    outputs: 
      enviros: ${{ steps.get-name.outputs.branch_name }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - run: echo ${{ github.event.release.target_commitish }}
      - run: echo helloworld
      - id: get-name
        run: echo "tag=${{ github.event.release.target_commitish }}" >> "$GITHUB_OUTPUT" 