name: PR-comment

on: 
  pull_request_target:
    types: [opened]
    branches:
      # only run on main? idk
      - main

permissions:
  pull-requests: write        

jobs:
  comment-stuff:
    runs-on: ubuntu-latest
    outputs:
      foo: bar
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            octokit.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: `Release type:
            - [ ] major
            - [ ] minor
            - [ ] patch`
            })

  # TODO add the extra semver properties depending on branch before finally returning out of workflow