name: abc

on: 
  push:
    branches:
      - main
      - develop

jobs:
  find-previous-version:
    runs-on: ubuntu-latest
    outputs:
      prev-ver: ${{steps.outputs.latest-git-tag.tag}}
      major: ${{steps.outputs.check-tag.major}}
      minor: ${{steps.outputs.check-tag.minor}}
      patch: ${{steps.outputs.check-tag.patch}}
      prerelease: ${{steps.outputs.check-tag.prerelease}}
      buildmetadata: ${{steps.outputs.check-tag.buildmetadata}}
    steps:
      - uses: actions/checkout@v4
      - name: latest-git-tag
        run: echo tag=$(git describe --tags --abbrev=0) >> $GITHUB_OUTPUT
      - id: check-tag
        if: ${{ steps.outputs.latest-git-tag.tag }}
        run: |
          if [[ "${{ steps.outputs.latest-git-tag.tag }}" =~ ^(?P<major>0|[1-9]\d*)\.(?P<minor>0|[1-9]\d*)\.(?P<patch>0|[1-9]\d*)(?:-(?P<prerelease>(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+(?P<buildmetadata>[0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$ ]]; then
              echo "major=${BASH_REMATCH[1]}" >> $GITHUB_OUTPUT
              echo "minor=${BASH_REMATCH[2]}" >> $GITHUB_OUTPUT
              echo "patch=${BASH_REMATCH[3]}" >> $GITHUB_OUTPUT
              echo "prerelease=${BASH_REMATCH[4]}" >> $GITHUB_OUTPUT
              echo "buildmetadata=${BASH_REMATCH[5]}" >> $GITHUB_OUTPUT
          else
              echo "Tag ${{ steps.outputs.latest-git-tag.tag }} is NOT VALID"
              exit 1
          fi
  generate-version:
    runs-on: ubuntu-latest
    needs: find-previous-version
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - id: default-main
        if: needs.find-previous-version.outputs.prev-ver == '' && github.event.ref == 'refs/heads/main'
        run: nextversion="1.0.0"
        
      - id: default-develop
        # there isnt much point to this defaulting to 0.1.0 on develop if develop tags never get 
        if: needs.find-previous-version.outputs.prev-ver == '' && github.event.ref != 'refs/heads/main'
        run: nextversion="0.1.0"

      - id: calculate-new
        if: needs.find-previous-version.outputs.prev-ver != ''
        # placeholder
        run: nextversion="1.2.3"

      - id: set-version
        run: echo "version=$nextversion" >> $GITHUB_OUTPUT
  
  print-version:
    runs-on: ubuntu-latest
    needs: generate-version
    steps:
      - run: echo ${{needs.generate-version.outputs.version}}
