name: abc

on: 
  push:
    branches:
      - main
      - develop

jobs:
  generate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{env.nextversion}}
      # major: ${{steps.outputs.check-tag.group1}}
      # minor: ${{steps.outputs.check-tag.group2}}
      # patch: ${{steps.outputs.check-tag.group3}}
      # prerelease: ${{steps.outputs.check-tag.group4}}
      # buildmetadata: ${{steps.outputs.check-tag.group5}}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0
      - id: get-tag
        uses: actions-ecosystem/action-get-latest-tag@v1.6.0
        with: 
          semver_only: true
          
      - id: default-main
        if: steps.get-tag.outputs.tag == '' && github.event.ref == 'refs/heads/main'
        run: echo "nextversion=1.0.0" >> $GITHUB_ENV
        
      - id: default-develop
        # there isnt much point to this defaulting to 0.1.0 on develop if develop tags never get 
        if: steps.get-tag.outputs.tag == '' && github.event.ref != 'refs/heads/main'
        run: echo "nextversion=0.1.0" >> $GITHUB_ENV

      - id: calculate-level
        if: steps.get-tag.outputs.tag != ''
        # placeholder
        run: |
          major=false
          minor=false

          for commit in ${{ toJson(github.event.commits) }}; do
            echo $commit
            if[[ $commit == "" ]]; then
              continue
            fi
            if [[ "${commit,,}" =~ major || "${commit,,}" =~ breaking ]]; then
              major=true
            fi

            if [[ "${commit,,}" =~ feature ]]; then
              minor=true
            fi

          done

          if $major; then
            echo "level=major" >> $GITHUB_OUTPUT
          elif $minor; then
            echo "level=minor" >> $GITHUB_OUTPUT
          else
            echo "level=patch" >> $GITHUB_OUTPUT
          fi          

      - uses: actions-ecosystem/action-bump-semver@v1
        if: steps.get-tag.outputs.tag != ''
        id: bump-semver
        with:
          current_version: ${{ steps.get-tag.outputs.tag }}
          level: ${{steps.calculate-level.outputs.level}}
      
      - id: semver-to-env
        run: echo "nextversion=${{steps.bump-semver.outputs.new_version}}" >> $GITHUB_ENV

      - if: github.event.ref == 'refs/heads/main'
        uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: ${{ env.nextversion }}
        
  print-version:
    runs-on: ubuntu-latest
    needs: generate-version
    steps:
      - run: echo ${{needs.generate-version.outputs.version}}

  # TODO add the extra semver properties depending on branch before finally returning out of workflow