name: abc

on: 
  push:
    branches:
      - main
      - develop

permissions:
  contents: write        

jobs:
  generate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{env.nextversion}}
      # major: ${{steps.outputs.check-tag.group1}}
      # minor: ${{steps.outputs.check-tag.group2}}
      # patch: ${{steps.outputs.check-tag.group3}}
      # prerelease: ${{steps.outputs.check-tag.group4}}
      # buildmetadata: ${{steps.outputs.check-tag.group5}}
    steps:
      - uses: actions/checkout@v4
        id: checkout
        with:
          fetch-tags: true
          fetch-depth: 0

      - run: |
          echo ${{ steps.checkout.outputs.commit }}
          echo ${{ steps.checkout.outputs.ref }}

      - id: get-tag
        name: Get latest semantic version tag
        uses: actions-ecosystem/action-get-latest-tag@v1
        with: 
          semver_only: true
          
      - id: get-PR
        name: Get merged pull request
        # no point getting level & whatnot if we are going to default to version 1.0.0 (because theres no previous versions)
        if: steps.get-tag.outputs.tag != '' 
        uses: actions-ecosystem/action-get-merged-pull-request@v1
        with: 
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - id: get-PR-level
        name: Get release tag from PR
        if: steps.get-PR.outputs.number != null
        uses: actions-ecosystem/action-release-label@v1
        with: 
          label_prefix: release/
          labels: ${{steps.get-PR.outputs.labels}}    

      - if: ${{ steps.release-label.outputs.level != null }}
        name: Push level to env
        run: echo "releaselevel=${{steps.release-label.outputs.level}}" >> $GITHUB_ENV

      
      - if: ${{ steps.release-label.outputs.level == null }}
        name: Push default level to env
        run: echo "releaselevel=patch" >> $GITHUB_ENV

      - uses: actions-ecosystem/action-bump-semver@v1
        if: steps.get-tag.outputs.tag != ''
        id: bump-semver
        name: Bump semantic version
        with:
          current_version: ${{ steps.get-tag.outputs.tag }}
          level: ${{env.releaselevel}}
      
      - id: semver-to-env
        if: steps.get-tag.outputs.tag != ''
        name: Push bumped version to env
        run: echo "nextversion=${{steps.bump-semver.outputs.new_version}}" >> $GITHUB_ENV
          
      - id: default
        name: No tag default version num to env
        if: steps.get-tag.outputs.tag == '' && github.event.ref == 'refs/heads/main'
        run: echo "nextversion=1.0.0" >> $GITHUB_ENV

      - name: Push version to repo tags
        if: github.event.ref == 'refs/heads/main'
        uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: ${{ env.nextversion }}
        
  print-version:
    runs-on: ubuntu-latest
    needs: generate-version
    steps:
      - run: echo ${{needs.generate-version.outputs.version}}

  # TODO add the extra semver properties depending on branch before finally returning out of workflow